@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&display=swap');

@import url(./themes.scss);

.calc {
  font-family: 'League Spartan', sans-serif;
  padding: 27px 24px 24px;
  max-width: 540px;
  margin: auto;

  &:focus-visible {
    outline: 0;
  }
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  color: var(--main);
  font-size: 40px;
  font-weight: 600;
  margin: 2px 0 0;

  @media screen and (min-width: 600px) {
    margin: 10px 0 0;
  }
}

.theme {
  display: flex;

  &Label {
    color: var(--main);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 28px;
    margin-right: 24px;

    @media screen and (min-width: 600px) {
      margin-right: 22px;
    }
  }

  &Button {
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0;
    width: 70px;
  }

  &Nums {
    display: flex;
    justify-content: space-around;
    color: var(--main);
    font-size: 14px;
    font-weight: 600;
    user-select: none;
  }

  &Icon {
    position: relative;
    margin-top: 3px;
    height: 26px;
    border-radius: 13px;
    background-color: var(--keypad-bg);

    &::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 5px;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: var(--equals-key-bg);
    }

    &-0 {
      &::after {
        left: 6px;
      }
    }
    &-1 {
      &::after {
        left: 27px;
      }
    }
    &-2 {
      &::after {
        left: 48px;
      }
    }
  }
}

.screen {
  color: var(--main);
  font-size: 40px;
  font-weight: 600;
  background-color: var(--screen-bg);
  text-align: right;
  min-height: 88px;
  line-height: 66px;
  padding: 0 27px;
  overflow: auto;
  border-radius: 8px;
  margin: 32px 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > span {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  @media screen and (min-width: 600px) {
    min-height: 128px;
    line-height: 96px;
    font-size: 58px;
    padding: 0 33px;

    & > span {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  &Operator {
    padding: 0 12px;
  }
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px 12px;
  background-color: var(--keypad-bg);
  padding: 24px;
  padding-bottom: 28px;
  border-radius: 8px;

  @media screen and (min-width: 600px) {
    padding: 31px;
    padding-bottom: 36px;
    gap: 28px 25px;
  }
}

.key {
  font-family: 'League Spartan', sans-serif;
  font-size: 34px;
  font-weight: 700;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0;
  padding-top: 4px;
  border: 0;
  border-radius: 4px;
  color: var(--key-color);
  background-color: var(--key-bg);
  box-shadow: 0 4px 0 var(--key-shadow);
  user-select: none;
  position: relative;
  top: 0;

  &--wide {
    grid-column-end: span 2;
  }

  &--reset {
    font-size: 21px;
    font-weight: 600;
    color: var(--reset-key-color);
    background-color: var(--reset-key-bg);
    box-shadow: 0 4px 0 var(--reset-key-shadow);
  }

  &--equals {
    font-size: 21px;
    font-weight: 600;
    color: var(--equals-key-color);
    background-color: var(--equals-key-bg);
    box-shadow: 0 4px 0 var(--equals-key-shadow);
  }

  &:active {
    top: 4px;
    box-shadow: none;
  }

  @media screen and (min-width: 600px) {
    border-radius: 8px;
    font-size: 40px;

    &--reset, &--equals {
      font-size: 24px;
    }
  }
}
