.theme-0 {
    --main-bg: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);

    // #### Keys

    --reset-key-bg: hsl(225, 21%, 49%);
    --reset-key-shadow: hsl(224, 28%, 35%);

    --equals-key-bg: hsl(6, 63%, 50%);
    --equals-key-shadow: hsl(6, 70%, 34%);

    --key-bg: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);

    // #### Text

    --key-color: hsl(221, 14%, 31%);
    --reset-key-color: white;
    --equals-key-color: white;

    --main: white;
}

.theme-1 {
    --main-bg: hsl(0, 0%, 90%);
    --keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);

    // #### Keys

    --reset-key-bg: hsl(185, 42%, 37%);
    --reset-key-shadow: hsl(185, 58%, 25%);

    --equals-key-bg: hsl(25, 98%, 40%);
    --equals-key-shadow: hsl(25, 99%, 27%);

    --key-bg: hsl(45, 7%, 89%);
    --key-shadow:  hsl(35, 11%, 61%);

    // #### Text

    --key-color: hsl(60, 10%, 19%);
    --reset-key-color: white;
    --equals-key-color: white;

    --main: hsl(60, 10%, 19%);
}

.theme-2 {
    --main-bg: hsl(268, 75%, 9%);
    --keypad-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);

    // #### Keys

    --reset-key-bg: hsl(281, 89%, 26%);
    --reset-key-shadow: hsl(285, 91%, 52%);

    --equals-key-bg: hsl(176, 100%, 44%);
    --equals-key-shadow: hsl(177, 92%, 70%);

    --key-bg: hsl(268, 47%, 21%);
    --key-shadow:  hsl(290, 70%, 36%);

    // #### Text

    --key-color: hsl(52, 100%, 62%);
    --reset-key-color: white;
    --equals-key-color: hsl(198, 20%, 13%);

    --main: hsl(52, 100%, 62%);
}
